[branch]
    autosetuprebase = always
    sort = -committerdate
[color]
    ui = true
[user]
    email = andrew.clough@gmail.com
    name = Andrew Clough
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[alias]
    st = status
    br = branch
    co = checkout
    c = commit
    ci = commit -a
    ca = commit --amend
    cia = commit -a --amend
[help]
    autocorrect = 5
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
