* {
    border-color:                #1490c6;
    bordercolor:                 #1490c6;
    foreground:                  #ffffff;
    selected-normal-foreground:  #ffffff;
    selected-active-foreground:  #094158;
    selected-normal-background:  #094158;
    alternate-normal-foreground: #ffffff;
    alternate-normal-background: #052836;
    background:                  #052836;
}
