* {
    border-color:                #0664c1;
    bordercolor:                 #0664c1;
    foreground:                  #ffffff;
    selected-normal-foreground:  #ffffff;
    selected-active-foreground:  #0664c1;
    selected-normal-background:  #0664c1;
    alternate-normal-foreground: #ffffff;
    alternate-normal-background: #00365A;
    background:                  #00365A;
}
