[Desktop Entry]
Name=Variety
Comment=Replace window manager with xmonad
Exec=/usr/bin/xmonad --replace
Icon=variety
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=2
